<h1>ANGULAR Template reference</h1>
<p>Naming certain elements</p>
<p>Use it to refere on this element in other parts of the template</p>

<h2>Syncrinisation between Model and the View</h2>

<p>
  We get the curret value using template reference. Then we pass to the method
  the current value of the input. As the uset types in the input we pass the new
  value to the component. Component takes this new value and automaticlly update
  the template.
</p>

<p>
Input value: <strong>{{ data.title }}</strong>
</p>


<input [value]="data.title" #titleInput (keyup)="onKeyUp(titleInput.value)" />

<p>Direct reflecting in the View modification of the data. Only changed data gets updated!</p>
<p>Safe because it doesn't interprete it as html or js..it uses html code escaping and shows it as string!</p>
<p>can be injected</p>
